<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}
    
    <link rel="stylesheet" href="/styles/style.css">
    <link rel = "shortcut icon" href = "https://image.flaticon.com/icons/svg/3043/3043918.svg">

</head>

<body>

    <header>
        <a href="/instructors"><img src="/assets/logo.png" alt="Logomarca"></a>

        <div class="links">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </div>

        <div class="burger-menu" onclick="toggleLinks()">
            <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <g>
                    <g id="menu">
                        <g>
                            <path d="M0,95.625v38.25h612v-38.25H0z M0,325.125h612v-38.25H0V325.125z M0,516.375h612v-38.25H0V516.375z"/>
                        </g>
                    </g>
                </g>
            </svg>

            <div class="links-mobile hidden">
                <a href="/instructors">Instrutores</a>
                <a href="/members">Membros</a>
            </div>

            <div class="background-links hidden"></div>
        </div>

    </header>

    {% block content %}

    {% endblock %}

    <script src="/scripts.js"></script>

</body>


</html>