<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}
    
    <link rel="stylesheet" href="/styles/style.css">
    <link rel = "shortcut icon" href = "https://image.flaticon.com/icons/svg/3043/3043918.svg">

</head>

<body>

    <header>
        <a href="/instructors"><img src="/assets/logo.png" alt="Logomarca"></a>

        <div class="links">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </div>

    </header>

    {% block content %}

    {% endblock %}

    <script src="/scripts.js"></script>

</body>


</html>